alias xbox_kodi="sudo xboxdrv -s 			\
	--type xbox360 					\
	--dpad-as-button				\
							\
	--ui-buttonmap \"DU=KEY_UP\" 			\
	--ui-buttonmap \"DL=KEY_LEFT\"			\
	--ui-buttonmap \"DD=KEY_DOWN\" 			\
	--ui-buttonmap \"DR=KEY_RIGHT\"			\
	--ui-buttonmap \"a=KEY_ENTER\"			\
	--ui-buttonmap \"b=KEY_BACKSPACE\"		\
	--ui-buttonmap \"back=KEY_ESC\"			\
							"
#	--ui-axismap \"Y1=KEY_FN_F9:KEY_FN_F10\"	"
#	--ui-axismap \"Y2=KEY_FN_F9\"			"


